{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <div class="row">

        <div class="col-md-4 fos_user_user_show profile__info">
            <h4> Mon espace abonné :</h4>
            <p>Login: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p> <a href=" {{ path('fos_user_security_logout') }}">Se deconnecter</a></p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7 profile__notification">

            <h4> Mes messages :</h4>
            {{ form(decryptForm) }}

            <table>
                <tr>
                    <th>ID :</th>
                    <th>Auteur :</th>
                    <th>Message :</th>
                </tr>
                </thead>

                <tbody>

            {% for message in messages|slice(20, 30) %}

                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.auteur }}</td>
                    <td>{{ message.message }}</td>
                </tr>

            {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-5 col-md-7 profile__zoneTexte">

            <h4> Ecris ton message :</h4>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="hidden">
                {{ form_widget(form.auteur, {'value' : user.username})  }}
            </div>
            {{ form_widget(form.message, {'attr': {'class' : 'form-control', 'rows':'3', 'placeholder':'Crypt Your Octet ...', 'maxlength':'255'}}) }}
            <div class="input-group form__destinataire">
                <span class="input-group-addon" id="basic-addon1">@</span>
                {{ form_widget(form.destinataire, {'attr': {'class' : 'form-control', 'aria-describedby':'basic-addon1', 'placeholder':'Destinataire'}}) }}
            </div>

            {{ form_widget(form.save, { 'label': 'Envoyer', 'attr': {'class' : 'btn btn-primary btn-send center'}}) }}

            {{ form_end(form) }}
        </div>

    </div>