{% trans_default_domain 'FOSUserBundle' %}

<div class="container">

    <div class="row">
        <div class="col-md-4 fos_user_user_show profile__info ">
            <h4> Espace abonné :</h4>
            <p><b>Login:</b> {{ user.username }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p>
                - <a href="{{ path('fos_user_profile_edit') }}">Modifier ton profil</a> </br>
                - <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
            </p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7 profile__notification">

            <div class="row row__sendMessage">
                <div class="col-md-5">
                    <h4>Décrypter un message :</h4>
                </div>
                {{ form_start(decryptForm) }}
                <div class="col-md-7 decrypt__zone">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">N° :</span>
                        {{ form_widget(decryptForm.id, {'attr': {'class' : 'form-control input__id', 'aria-describedby':'basic-addon1'}}) }}
                        <span class="input-group-addon" id="basic-addon2">Sel :</span>
                        {{ form_widget(decryptForm.sel, {'attr': {'class' : 'form-control input__sel', 'aria-describedby':'basic-addon2'}}) }}
                        {{ form_widget(decryptForm.save, {'label': 'Décrypter', 'attr': {'class' : 'input__save'}}) }}
                    </div>
                </div>
                {{ form_end(decryptForm) }}
            </div>

            <div class="row row__seeMessage">

                <div class="col-md-12">
                    <h4> Mes messages :
                        <span id="openCross" style="display: none"><a href="#" onclick="openMessage()" ><i class="fa fa-plus-square-o"></i></a></span>
                        <span id="closeCross"><a href="#" onclick="closeMessage()"><i class="fa fa-minus-square-o"></i></a></span>
                    </h4>
                    <div id="messageTable">
                        <table>
                            <tr>
                                <th>N° :</th>
                                <th>Auteur :</th>
                                <th>Messages :</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% set page = '' %}
                            {% for message in messages|reverse %}
                                {% if loop.index < 6 %}
                                    <tr class="page1">
                                        <td>{{ message.id }}</td>
                                        <td>{{ message.auteur|capitalize }}</td>
                                        <td class="td__message" onclick="putIdValue({{ message.id }})">{{ message.message[:70] }}</td>
                                    </tr>
                                {% elseif loop.index < 11 %}
                                    <tr class="page1 display__none" style="display:none">
                                        <td>{{ message.id }}</td>
                                        <td>{{ message.auteur|capitalize }}</td>
                                        <td class="td__message" onclick="putIdValue({{ message.id }})">{{ message.message[:70] }}</td>
                                    </tr>
                                {% elseif loop.index < 21 %}
                                    {% set page = '2' %}
                                {% elseif loop.index < 31 %}
                                    {% set page = '3' %}
                                {% elseif loop.index < 41 %}
                                    {% set page = '4' %}
                                {% elseif loop.index < 51 %}
                                    {% set page = '5' %}
                                {% elseif loop.index < 61 %}
                                    {% set page = '6' %}
                                {% elseif loop.index < 71 %}
                                    {% set page = '7' %}
                                {% elseif loop.index < 81 %}
                                    {% set page = '8' %}
                                {% elseif loop.index < 91 %}
                                    {% set page = '9' %}
                                {% elseif loop.index < 101 %}
                                    {% set page = '10' %}
                                {% elseif loop.index < 111 %}
                                    {% set page = '11' %}
                                {% endif %}

                                <tr class="page{{ page }} display__none" style="display:none">
                                    <td>{{ message.id }}</td>
                                    <td>{{ message.auteur|capitalize }}</td>
                                    <td class="td__message" onclick="putIdValue({{ message.id }})">{{ message.message[:70] }}</td>
                                </tr>
                                {% if loop.first %}
                                    <div id="maxPage" data-value="{{ loop.length }}" style="display:none"></div>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="plus__message">
                            <p id="voirPlus" class="voirPlus"><a href="#" onclick="plus()">Voir plus <i class="fa fa-arrow-down"></i></a></p>

                            <p id="moinsPage" class="switch__page" style="display: none"><a href="#" onclick="moinsPage()"><i class="fa fa-arrow-left"></i> Page précedente </a></p>
                            <p id="currentPage"></p>
                            <p id="plusPage" class="switch__page" style="display: none"><a href="#" onclick="plusPage()"> Page suivante <i class="fa fa-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-4 fos_user_user_show profile__zoneTexte">
            <h4> Mes amis :</h4>
            {% for flashMessage in app.session.flashbag.get('addami') %}
                <div class="flash-notice alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('paspresent') %}
                <div class="flash-notice alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for showFriend in showFriends %}
            {{ showFriend.friendTwo }}<br />
            {% endfor %}

            {{ form_start(friendsForm) }}
            <div class="hidden">
                <p>{{ form_widget(friendsForm.friendOne, {'value' : user.id}) }}</p>
            </div>
            <p>{{ form_widget(friendsForm.friendTwo, {'attr': {'placeholder':'Nom de l\'ami...'}}) }}</p>
            <p>{{ form_widget(friendsForm.save, {'label': 'Ajouter', 'attr': {'class' : 'input__save'}}) }}</p>
            {{ form_end(friendsForm) }}
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7 profile__zoneTexte">

            <h4> Envoyer un message :</h4>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice alert alert-success" role="alert">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="hidden">
                {{ form_widget(form.auteur, {'value' : user.username})  }}
            </div>
            <div class="col-md-8">
                {{ form_widget(form.message, {'attr': {'class' : 'form-control', 'rows':'5', 'placeholder':'Crypt ton octet..', 'maxlength':'255'}}) }}
            </div>
            <div class="input-group form__destinataire">
                <span class="input-group-addon" id="basic-addon1">@</span>
                {{ form_widget(form.destinataire, {'attr': {'class' : 'form-control', 'aria-describedby':'basic-addon1', 'placeholder':'Destinataire'}}) }}
            </div>

            {{ form_widget(form.save, { 'label': 'Envoyer', 'attr': {'class' : 'btn btn-primary btn-send center'}}) }}

            {{ form_end(form) }}
        </div>

    </div>
</div>
