<link href="{{ absolute_url(asset('bundles/cryptyohome/css/mail.css')) }}" rel="stylesheet">

<div class="banniere">
    <img src="{{ absolute_url(asset('bundles/cryptyohome/images/cryptyo1.png')) }}">
    <h2>Crypt Your Octet</h2>
    <div class="connexion">
        <p><a href="http://vps202911.ovh.net/~CryptYO/profile/">Se connecter à votre espace</a></p>
    </div>
</div>

<div class="informations">
    <h4>{{ auteur|capitalize }} vous a envoyé un message</h4>
    <p>Message n° {{ id }}</p>
    <p>Votre grain de sel: {{ sel }}</p><br />
    <p style="text-align: center"><a href="http://vps202911.ovh.net/~CryptYO/profile/">Décryptez votre message</a></p>
</div>