{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4 col-md-offset-4 home__form">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

            <div>
                    {{ form_start(form) }}
                    {{ form_label(form.email, 'Adresse email') }}
                    {{ form_widget(form.email) }}
            </div>

                <div>
                    {{ form_label(form.username, 'Nom d\'utilisateur') }}
                    {{ form_widget(form.username) }}
                </div>

                <div>
                    {{ form_widget(form.plainPassword) }}
            </div>


            <div>
                <a class="btn btn-primary btn__retour2" href={{ path('homepage') }}>Retour</a>
                <input class="btn btn-primary btn__retour" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}

        </form>
    </div>
</div>


